[Unit]
Description=Hades manager
After=network-online.target

[Service]
Type=oneshot

User=hades
Group=hades

WorkingDirectory=/opt/gpjp-hades

ExecStartPre=-/bin/bash /opt/gpjp-hades/update
ExecStart=/bin/bash /opt/gpjp-hades/main

Restart=no

[Install]
WantedBy=multi-user.target
