[Unit]
Description=Hades manager
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/opt/gpjp-hades
PIDFile=/opt/gpjp-hades/master.pid
ExecStartPre=-/opt/gpjp-hades/update.sh
ExecStart=/opt/gpjp-hades/main.sh

[Install]
WantedBy=multi-user.target
