[Unit]
Description=Hades manager
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/gpjp-hades
PIDFile=/opt/gpjp-hades/master.pid
ExecStartPre=-/bin/bash /opt/gpjp-hades/update
ExecStart=/bin/bash /opt/gpjp-hades/main

[Install]
WantedBy=multi-user.target
